<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Patient page</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Patient Name</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Patient</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Bed Number:</strong></span> 3214</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>HR:</strong></span>9823</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Service:</strong></span> Trauma</li>

            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Studies <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Lab test</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Images</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Interconsult </strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Other</strong></span> 78</li>
            </ul>



        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#Triage" data-toggle="tab">Triage</a></li>
                <li class="nav-item"><a class="nav-link" href="#Lab" data-toggle="tab">Lab order</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <!--/table-resp-->

                    <hr>

                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="Triage">
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Evaluation</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Time and date</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="9/11/2001 8:46 am">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                          Wait
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Observation
                        </label>
                      </div>
                      <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                        <label class="form-check-label" for="exampleRadios3">
                          Immediate
                        </label>
                      </div>
                      <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                        <label class="form-check-label" for="exampleRadios3">
                          Expectant
                        </label>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                              <br>
                              <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Send</button>
                              <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                          </div>
                      </div>
                  </form>
                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="Lab">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="Lab request">
                                    <h5>Lab Request</h5></label>
                                    <select class="form-control form-control-sm">
                                        <option>Complete Blood Count</option>
                                        <option>Basic Metabolic Panel</option>
                                        <option>Comprehensive Metabolic Panel</option>
                                        <option>Prothrombin Time</option>
                                        <option>Lipid Panel</option>
                                        <option>Liver Panel</option>
                                        <option>Thyroid Stimulating Hormone</option>
                                    </select>
                              </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="Lab Request">
                                    <h5>Details</h5></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone">
                                    <h5>Contact nuber</h5></label>
                                <input type="text" class="form-control" name="phone" id="phone" title="enter your phone number if any.">
                            </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Emergency">
                      <label class="form-check-label" for="inlineCheckbox1">Emergency</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Urgency">
                      <label class="form-check-label" for="inlineCheckbox2">Urgency</label>
                    </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Request</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!--/row-->
